* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

body {
  background-color: #000000;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: 1920px;
}

header {
  margin: 0 auto;
  max-width: 1920px;
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: white;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
header > .header-wrapper {
  max-width: 1110px;
  height: 87px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-logo {
  width: 132px;
  height: 38px;
}
header .header-panel {
  display: flex;
  gap: 40px;
}
header .header-panel > .menu-btn {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
header .header-panel > .menu-btn:visited, header .header-panel > .menu-btn:active {
  color: white;
}
header .header-panel > .menu-btn:hover {
  color: #ea5289;
}

.start-advertising {
  height: 740px;
  background: url("/img/bg-start-advertising.svg.svg") no-repeat center top;
  padding-top: 174px;
}

.start-advertising-wrapper {
  max-width: 676px;
  position: relative;
  margin: 0 auto;
}
.start-advertising-wrapper .austonaut-img {
  position: absolute;
  bottom: -257px;
  right: -28px;
  width: 100px;
  height: auto;
}
.start-advertising-wrapper .start-adv-btn__pos {
  margin: 40px auto 0 auto;
}

.why-advertise-with-us {
  width: auto;
  position: relative;
  background: transparent;
}
.why-advertise-with-us::before {
  content: "";
  position: absolute;
  top: -371px;
  left: 0;
  right: 0;
  height: 996px;
  background: url(../../img/bg-why-advertise-with-us.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.why-advertise-with-us .why-advertise-with-us-wrapper {
  max-width: 1056px;
  margin: 0 auto;
  height: auto;
}
.why-advertise-with-us .why-advertise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  margin-top: 67px;
}

.ad-formats {
  width: 100%;
  height: 1141px;
  background: url(../../img/bg-ad-formats.png);
  margin-top: 90px;
  padding-top: 126px;
}

.formats-wrapper {
  max-width: 912px;
  height: 873px;
  margin: 0 auto;
}

.formats-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
}

.formats-text-container {
  max-width: 500px;
}

.ad-formats-text {
  font-family: "roboto", sans-serif;
  color: rgb(200, 175, 215);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
}

.verticals {
  width: auto;
  position: relative;
  height: 452px;
  padding-top: 90px;
}
.verticals :before {
  content: "";
  position: absolute;
  top: -264px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(32, 32, 32);
  z-index: -2;
}

.verticals-bg {
  position: absolute;
  top: 0;
  left: 147px;
  width: 1618px;
  height: 451.5px;
  object-fit: cover;
  z-index: -1;
}

.verticals-container {
  width: 1054px;
  height: 110px;
  margin: 67px auto 0 auto;
  display: flex;
  gap: 44px;
  align-items: center;
}

.verticals-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 110px;
  border-radius: 20px;
  background-color: rgb(118, 50, 137);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.smart-targeting {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 93px;
  padding-bottom: 92px;
}

.targeting-data-wrapper {
  padding-top: 67px;
  max-width: 911px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 57px;
}
.targeting-data-wrapper .targeting-data-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 57px;
}

.partners {
  width: 100%;
  background: url(../../img/bg-partners.png);
  background-color: white;
  padding-top: 77px;
  padding-bottom: 58px;
}

.increas-leads {
  width: 100%;
  padding: 65px 0 80px 405px;
  background: url(../../img/bg-increas-leads.png) no-repeat;
  position: relative;
}

.increas-leads-container {
  margin-top: 10px;
  max-width: 634px;
  position: relative;
  z-index: 2;
}

.increas-leads-btn-pos {
  margin-top: 50px;
}

.stars-increas-leads {
  position: absolute;
  top: 20px;
  left: 280px;
  z-index: 1;
  pointer-events: none;
}

.rocket-increas-leads {
  position: absolute;
  top: -71px;
  left: 685px;
}

.auth-btn-wrapper {
  display: flex;
  gap: 6px;
}

.auth-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  height: 47px;
  cursor: pointer;
}
.auth-login-btn:hover {
  color: rgb(245.0412371134, 172.9587628866, 199.0412371134);
}

.auth-reg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  font-size: 18px;
  color: white;
  background-color: #ea5289;
  border: none;
  border-radius: 5px;
  height: 47px;
  cursor: pointer;
}
.auth-reg-btn:hover {
  background-color: rgb(228.4793814433, 36.5206185567, 105.9793814433);
}

.start-advertising-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  font-size: 18px;
  color: white;
  background-color: #ea5289;
  border: none;
  border-radius: 5px;
  height: 47px;
  cursor: pointer;
  border-radius: 60px;
  height: 72px;
  min-width: 278px;
}
.start-advertising-button:hover {
  background-color: rgb(231.2396907216, 59.2603092784, 121.4896907216);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.title__dark {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: black;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 21px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.subtitle-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}

.verticals-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 66px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}

.increas-leads-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  text-align: left;
}

.why-advertise-card {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px 36px;
}
.why-advertise-card h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 21px;
  margin-bottom: 13px;
  color: rgb(119, 50, 136);
  text-transform: uppercase;
  line-height: 25px;
}
.why-advertise-card p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgb(82, 76, 76);
  line-height: 25px;
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.data-wrapper .data-img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
}

.img-geo {
  background-image: url("../../img/img-geo.svg");
}

.img-device {
  background-image: url("../../img/img-device.svg");
}

.img-traffic-quality {
  background-image: url("../../img/img-traffic-quality.svg");
}

.img-placement {
  background-image: url("../../img/img-placement.svg");
}

.img-vertical {
  background-image: url("../../img/img-vertical.svg");
}

.img-day-time-parting {
  background-image: url("../../img/img-day-time-parting.svg");
}

.img-frequency-capping {
  background-image: url("../../img/img-frequency-capping.svg");
}

.img-individual-ad-zones {
  background-image: url("../../img/img-individual-ad-zones.svg");
}

.data-text {
  font-family: Lato;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #524C4C;
}

.partners-li-wrapper {
  display: flex;
  align-items: center;
  gap: 48px;
  max-width: 1108px;
  margin: 0 auto;
}
.partners-li-wrapper .partners-img {
  width: 20%;
  height: 58px;
}

.img-exo-logo {
  background: url("../../img/img-exo-logo.png") center left/contain no-repeat;
}

.img-advidi-logo {
  background: url("../../img/img-advidi-logo.png") center left/contain no-repeat;
}

.img-trafficstars-logo {
  background: url("../../img/img-trafficstars-logo.png") center left/contain no-repeat;
}

.img-affmy-logo {
  background: url("../../img/img-affmy-logo.png") center left/contain no-repeat;
}

.img-trafficfactory-logo {
  background: url("../../img/img-trafficfactory-logo.png") center left/contain no-repeat;
}/*# sourceMappingURL=main.css.map */