@use 'abstracts/mixins' as *;
@use 'abstracts/variables' as *;
@use 'base/reset';
@use 'layout/footer';
@use 'layout/header';
@use 'layout/section-start-adv';
@use 'layout/section-why-adv';
@use 'layout/section-ad-formats';
@use 'layout/section-verticals';
@use 'layout/section-smart-targeting';
@use 'layout/section-partners';
@use 'layout/section-increas-leads';
@use 'components/buttons';
@use 'components/title';
@use 'components/cards';
@use 'components/data-icon';
@use 'components/partners-icon';
@use 'pages/home';