* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto, sans-serif;
  background-color: #000000;
}
header {
  margin: 0 auto;
  max-width: 1920px;
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: white;
  width: 100%;
  background-color: #000000;
}
header > .header-wrapper {
  max-width: 1110px;
  height: 87px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-logo {
  width: 132px;
  height: 38px;
}
header .header-panel {
  display: flex;
  gap: 40px;
}
header .header-panel > .menu-btn {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
header .header-panel > .menu-btn:visited,
header .header-panel > .menu-btn:active {
  color: white;
}
.auth-btn-wrapper {
  display: flex;
  gap: 6px;
}
.auth-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  height: 47px;
  cursor: pointer;
}
.auth-reg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  font-size: 18px;
  color: white;
  background-color: #ea5289;
  border: none;
  border-radius: 5px;
  height: 47px;
  cursor: pointer;
}
.auth-reg-btn:hover {
  background-color: #e63c7a;
}
main {
  margin: 0 auto;
  max-width: 1920px;
}
.start-advertising {
  height: 740px;
  background: url(/img/bg-start-advertising.svg.svg) no-repeat center;
  display: flex;
  padding-top: 174px;
  justify-content: center;
}
.start-advertising-wrapper {
  max-width: 676px;
  position: relative;
}
.start-advertising-wrapper .start-advertising-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: white;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}
.start-advertising-wrapper .start-advertising-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  font-size: 18px;
  color: white;
  background-color: #ea5289;
  border: none;
  border-radius: 5px;
  height: 47px;
  border-radius: 60px;
  cursor: pointer;
  height: 72px;
  min-width: 278px;
}
.start-advertising-wrapper .start-advertising-button:hover {
  background-color: #e63c7a;
}
.start-advertising-wrapper .austonaut-img {
  position: absolute;
  bottom: -137px;
  right: 82px;
  width: 100px;
  height: auto;
}
