.why-advertise-with-us {
  width: auto;
  position: relative;
  background: transparent;

  &::before {
    content: '';
    position: absolute;
    top: -363px;
    left: 0;
    right: 0;
    height: 996px;
    background: url(./img/bg-why-advertise-with-us.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  & .why-advertise-with-us-wrapper {
    max-width: 1056px;
    margin: 0 auto;
    height: auto;

    & .why-advertise {
      &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
        margin-top: 67px;
      }
      &-card {
        background: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 30px 36px;

        & h1 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: 21px;
          margin-bottom: 13px;
          color: rgba(119, 50, 136, 1);
          text-transform: uppercase;
          line-height: 25px;
        }

        & p {
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          line-height: 24px;
          color: rgba(82, 76, 76, 1);
          line-height: 25px;
        }
      }
    }
  }
}
