@use '../abstracts' as *;

footer {
  width: 100%;
  height: 288px;
  display: flex;
  justify-content: center;
  padding: 50px 0 0;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1120px;
}

.footer-content-wrapper {
  max-width: 366px;
}

.footer-logo-wrapper {
  display: flex;
  margin-bottom: 29px;
}

.footer-text {
  max-width: 366px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.footer-social-media {
  margin-top: 18px;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: flex-end;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;

  a {
    color: #ffffff;
    text-decoration: none;

    &:visited,
    &:focus {
      color: #ffffff;
    }

    &:hover {
      color: $light-pink;
    }
  }
}


.footer-social-media a {
  flex: 0 0 auto;
}

.footer-social-media img {
  display: block;
  width: auto;
  height: auto;
  max-width: none;
}

.policy-link {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
  gap: 20px;
  cursor: pointer;
  text-decoration: none;
  
  a {
    color: rgba(141, 136, 156, 1);
    text-decoration: none;

    &:visited,
    &:focus {
    color: rgba(141, 136, 156, 1);
    }

    &:hover {
      color: rgb(204, 203, 207);
    }
  }
}

.footer-line {
  position: absolute;
  margin-top: 160px;
  width: 100%;
  max-width: 1120px;
}

.footer-end-wrapper {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  color: rgba(116, 109, 135, 1);
  margin-top: 190px;
  margin-bottom: 30px;
  font-size: 14px;
}