@use '../abstracts' as *;

header {
  margin: 0 auto;
  max-width: 1920px;
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: white;
  width: 100%;
  background-color: rgb(0, 0, 0);

  &>.header-wrapper {
    max-width: 1110px;
    height: 87px;
    margin: 0 auto;
    padding-inline: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .header-logo {
    width: 132px;
    height: 38px;
  }

  & .header-panel {
    display: flex;
    gap: 40px;

    &>.menu-btn {
      color: white;
      cursor: pointer;
      text-decoration: none;

      &:visited,
      &:active {
        color: white;
      }

      &:hover {
        color: $light-pink;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {

    .header-panel {
      display: none
    }
  }
}

@media screen and (max-width: 480px) {
  header {

    .logo-link {
      display: none
    }
  }
}