.ad-formats {
    width: 100%;
    height: 1141px;
    background: url(../../img/bg-ad-formats.png);
    margin-top: 90px;
    padding-top: 126px;
}

.formats-wrapper {
    max-width: 912px;
    height: 873px;
    margin: 0 auto;
}

.formats-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}

.formats-text-container {
    max-width: 500px;
}

.ad-formats-text {
    font-family: 'roboto', sans-serif;
    color: rgba(200, 175, 215, 1);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
}