// .auth-btn(@bcolor) {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0 26px;
//   font-size: 18px;
//   color: white;
//   background-color: @bcolor;
//   border: none;
//   border-radius: 5px;
//   height: 47px;
// }

$light-pink-hover: rgb(230, 60, 122);

.auth-btn-wrapper {
  display: flex;
  gap: 6px;
}

.auth-login-btn {
  cursor: pointer;
}

.auth-reg-btn {
  cursor: pointer;
  background-color: $light-pink;

  &:hover {
    background-color: $light-pink-hover;
  }
}