@use 'sass:color';
@use '../abstracts' as *;

.auth-btn-wrapper {
  display: flex;
  gap: 6px;
}

.auth-login-btn {
  @include auth-btn(transparent);

  &:hover {
    color: color.adjust($light-pink, $lightness: 20%);
  }
}

.auth-reg-btn {
  @include auth-btn($light-pink);

  &:hover {
    background-color: color.adjust($light-pink, $lightness: -10%);
  }
}

.start-advertising-button {
  @include auth-btn($light-pink);
  border-radius: 60px;
  height: 72px;
  min-width: 278px;

  &:hover {
    background-color: color.adjust($light-pink, $lightness: -5%);
  }

}

.gamburger-menu {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: url('../../img/gamburger-menu-icon.svg') center center / contain no-repeat;
}