.why-advertise {
    &-card {
        background: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 30px 36px;

        & h1 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: 21px;
          margin-bottom: 13px;
          color: rgba(119, 50, 136, 1);
          text-transform: uppercase;
          line-height: 25px;
        }

        & p {
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          line-height: 24px;
          color: rgba(82, 76, 76, 1);
          line-height: 25px;
        }
    }
}