@use '../abstracts' as *;
$partners-icon: exo-logo, advidi-logo, trafficstars-logo, affmy-logo, trafficfactory-logo;

.partners-li-wrapper {
    display: flex;
    align-items: center;
    gap: 48px;
    max-width: 1108px;
    margin: 0 auto;

    .partners-img {
        width: 20%;
        height: 58px;
    }
}

@each $text in $partners-icon {
    .img-#{$text} {
    background: url('../../img/img-#{$text}.png') center left / contain no-repeat;
    }
}