* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}
body {
  background-color: #000000;
  position: relative;
}

main {
  margin: 0 auto;
  max-width: 1920px;
}