* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

body {
  background-color: #000000;
  position: relative;
  width: 100%;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}